@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: rgb(51, 0, 58);
  flex-direction: column;
  border: 1px solid;
}

.main-header {
  font-family: "Poppins", sans-serif;
}

.create-form label {
  color: whitesmoke !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
}
